.image {
  width: 50%;
  margin-left: 25%;
  filter: brightness(1.1);
  mix-blend-mode: multiply;
}
.navfilter {
  display: flex;
  justify-content: space-evenly;
  height: 55px;
  width: 90%;
  align-items: center;

  background-color: #14c2dd;
  margin: auto;
  border-radius: 10px;
}

.inputText input {
  font-size: 1.2rem;
  height: 50%;
}

.selectSpecie select {
  font-size: 1.2rem;
  height: 50%;
  color: rgb(116, 119, 119);
}
.selectStatus select {
  font-size: 1.2rem;
  height: 50%;
  color: rgb(116, 119, 119);
}
