.picture {
  text-align: center;
}
.image {
  width: 70%;
  margin: 0px;
  filter: brightness(1.1);
  mix-blend-mode: multiply;
}
.navfilter {
  display: flex;
  justify-content: space-evenly;
  background-color: #239144;
  height: 75px;
  align-items: center;
}

.inputText input {
  font-size: 1.2rem;
  height: 50%;
}

.selectSpecie select {
  font-size: 1.2rem;
  height: 50%;
  color: rgb(116, 119, 119);
}
.selectStatus select {
  font-size: 1.2rem;
  height: 50%;
  color: rgb(116, 119, 119);
}
