.listname {
  display: grid;
  grid-gap: 2rem 3rem;
  grid-template-columns: repeat(auto-fill, minmax(10rem, 1fr));
  max-width: 100%;
  padding: 50px;
  justify-content: center;
  margin: 2% 3% 2% 3%;
}
.foto {
  width: 200px;
  border-radius: 10px;
}
